html, body, div, span, h1, h2, h3, h4, h5, h6, p, a, nav, section{
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  text-align: justify;
  vertical-align: baseline;
}

.back404{
  background-color: #fcf0e4;
}

h2{
  font-size: 1.9em; 
  color: #c32222;
  font-weight: 600;
}

h3{
  font-size: 1.4em; 
  padding-left: 1%;
  font-weight: 500;
}

h3 a{
  color: #414141;
}

p{
  padding-left: 1%;
}

a{
  color: #707070;
  text-decoration: none;
}

iframe{
  border: none;
}

.ancre{
  display: block;
  height: 10em;
  margin-top: -10em;
  visibility: hidden;
}

.link{
  border-bottom: dotted 1px #303030;
}

a:hover{
  color: #989898;
}

body{
  margin-left: 10%;
  margin-right: 10%;
  line-height: 1.4em;
  text-align: justify;
}

.codeb{
  background-color: #e6e6e6;
  border-radius: 2px;
  padding: 2px;
}

.codebb{
  background-color: grey;
  color: white;
  border-radius: 2px;
  padding: 5px;
}

header ul, footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li a, footer li a {
  display: block;
  color: #000;
  padding-left: 1em;
  padding-right: 1em;
  text-decoration: none;
  text-align: center;
  font-size: 1.1em;
  width: 8em;
  margin: 0;
  font-variant: small-caps;
}

header li a{
  height: 4.4em;
  line-height: 4.4em;
  border-radius: 5px;
  font-size: 1.2em;
  margin-left: 1em;
}

header li a:hover{
  color: #c32222;
  border-bottom: solid 2px #c32222;
  border-radius: 0px;
}

.h404 li a{
  color: #b17f93;
}


.h404 li a:hover{
  color: #824a4f;
  border-bottom: solid 2px #824a4f;
}

header li a:last-child{
  margin-right: 1em;
}

header img{
  height: 3em;
  padding-top: 0.6em;
  padding-left: 2em;
}

.logo{
  display: flex;
  align-items: left;
}

.active{
  color: #c32222;
  border-radius: 0px;
  border-bottom: solid 2px #c32222 !important;
}

.a404{
  color: #824a4f !important;
  border-bottom: solid 2px #824a4f !important;
}

.title{
  color: #414141;
  border-bottom: none;
  font-variant: small-caps;
  font-size: 1.8em; 
  line-height: 2.2em;
  font-weight: 300;
  margin-left: 0.5em;
}

.t404{
  color: #824a4f;
  text-shadow: 0px 2px 2px #b17f93;
} 

.title:hover{
  color: #616161;
}

.t404:hover{
  color: #a96f74;
}

.main{
  color: #414141;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10em;
  padding-bottom: 5em;
}

header, header ul{
  display: flex;
  line-height: 2em;
}

.header{
  z-index: 40;
  position: fixed;
  width: 80%;
  top: 0px;
  right: 10%;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #b6b6b6;
  margin-top: 1em;
  background: #eee;
}

.whiteband{
  position: fixed;
  width: 100%;
  height: 1em;
  top: 0px;
  background-color: white;
}

.h404{
  background: #e0a7b0;
}

.footer a, .header a{
  border-bottom: none;
}

footer, footer ul{
  display: flex;
  line-height: 2em;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-right: 1em;
  background: #777777;
  box-shadow: 0px -2px 2px #b6b6b6;
}

.menuYear{
  position: fixed;
  top: 6em;
  padding-top: 0.8em;
  padding-bottom: 0.3em;
  right: 10%;
  width: 7%;
  border-radius: 5px;
  background: #ddd;
  box-shadow: 0px 2px 2px #b6b6b6;
}

.on{
  color: #c32222;
}

.on:hover{
  color: #c35555;
}

.titlecv1{
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
  font-size: 3em;
}

.titlecv2{
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 3em;
}

.titlesection{
  display: inline;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  font-weight: 700;
  color: #cf4040;
  font-variant: small-caps;
  font-size: 1.4em;
}

.titlesection:before{
  content:'';
  width:4em;
  border-bottom: #cf4040 solid;
  display:inline-block;
  vertical-align:middle;
  margin-right: 1em;
}

.smallcapsred{
  color: #cf4040;
  font-variant: small-caps;
  font-size: 1em;
}

b.black{
  color: #414141;
}

.red{
  color: #cf4040;
}

.address{
  color: #888;
  font-size: 0.8em;
  display: inline;
  font-style: italic;
}

.mail, .site{
  font-size: 0.9em;
  vertical-align: middle;
}

.mail:before, .site:before{
  background-size: 1em 1em;
  background-repeat: no-repeat;
  display: inline-block;
  width: 1em;
  height: 1em;
  content:"";
  margin-right: 0.5em;
}

.mail:before{
  background-image: url('imagescss/mail.png');
}
.site:before{
  background-image: url('imagescss/www.png');
}

.born{
  display: inline;
  font-size:0.8em;
}

h6{
  display: inline;
  font-weight: 400;
  line-height: 1em;
}

table{
  width: 95%;
  border-spacing: 15px 5px;
}

.cv{
  margin-left: 10%;
  margin-right: 10%;
}

.cours{
  margin-left: 3%;
  margin-right: 3%;
}

.main h4{
  padding-left: 1%;
}

.info{
  text-align: right;
}

.dwl{
  width: 8em;
  text-align: center;
}

.three{
  width: 25%;
}

.td{
  width: 20%;
  text-align: center;
}

#menu li a{
  width: 10em;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 1.1em;
  height: 4.4em;
  line-height: 4.4em;
  border-radius: 5px;
  font-size: 1.2em;
}

#menu li a:first-child{
  margin-left: 15px;
}

#menu li a:last-child{
  margin-right: 15px;
}

#menu{
  position: sticky;
  top: 5.5em;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0px 2px 2px #e1e1e1;
  background: #fff;
  height: 4.4em;
  width: 100%;
}

#menu ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.coursL3 table{
  border-spacing: 15px 20px;
  margin-left: 2%;
}

.cvPdf{
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.cvPdf a{
  background: #eee;
  width: 40%;
  line-height: 3em;
  text-align: center;
  border-radius: 5px;
}


@media screen and (max-width: 1000px){
  .whiteband, .logo{
    display: none;
  }

  .cv{
    margin-left: 0;
    margin-right: 0;
  }

  .main{
    margin-left: -10%;
    margin-right: -10%;
    margin-top: 9em;
  }

  header li a:last-child{
    margin-right: 0;
  }

  .header{
    font-size: 1.7em;
    width: 100%;
    top: 0px;
    right: 0px;
    flex-direction: column;
    border-radius: 0px;
    box-shadow: 0px 2px 2px #b6b6b6;
    margin-top: 0em;
    height: 4em;
  }

  header ul{
    justify-content: space-around;
  }

  header li a{
    height: 3.3em;
    line-height: 3em;
    width: 5em;
  }

  header li a:hover{
    color: #c32222;
    border-bottom: solid 2px #c32222;
    border-radius: 0px;
  }

  p,.main li, h4, .cv, .coursL3{
    font-size: 1.7em !important;
    line-height: 1.4em;
  }

  .coursL3 table{
    border-spacing: 15px 1.3em;
  }

  table tr td{
    vertical-align: top !important;
  }

  .cv table{
    width: 100%;
    margin-left: 0%;
    border-spacing: 15px 1.3em;
  }

  h2{
    font-size: 2.3em;
    line-height: 1.5em;
  }

  .coursL3 h3{
    font-size: 110%;
  }

  h3{
    font-size: 2.1em;
    line-height: 1.5em;
  }

  .menuYear{
    display: none;
  }

  .footer{
    display:none;
  }

  #menu{
    width: 100%; 
    height: 4.5em;
    position: sticky;
    top: 6.6em;
  }
  #menu li a{
    width: 100%;
    line-height: 3.2em;
    font-size: 0.8em;
    margin-left: 0;
    margin-right: 0;
  }

  #menu ul{
    justify-content: space-around;
    margin-left: -3.5%;
  }

  .ancre{
    height: 6em;
    margin-top: -6em;
    visibility: hidden;
  }

}

@media screen and (max-width: 1500px) and (min-width: 1000px){
  p{
    font-size: 80%;
  }
  .title{
    font-size: 1em;
    margin-top:0.2em;
  }
  h2,h3{
    font-size: 1.1em;
  }
  h4{
    font-size: 0.8em;
  }
  .main{
    margin-top: 6em;
  }
  .cv{
    margin-left: 0;
    margin-right: 0;
  }
  #menu{
    font-size: 70%;
    top: 6em;
  }
  .menuYear{
    font-size: 70%;
  }
  table{
    font-size: 75%;
  }
  header img{
    height: 2em;
  }
  header li a{
    font-size: 80%;
  }
}

