*{
  margin:0;
  padding:0;
}

body{
  background-color: #fcf0e4;
  color:#000;
  font-family:"Montserrat",sans-serif;
  font-size:1em;
  z-index:10;
}

#pusheen{
  width:250px;
  height:250px;
  background: url('imagescss/grumpy.gif') no-repeat;
  padding-bottom:3em;
  margin-top:140px;
  position:relative;
  margin-left:27%;
  margin-right:auto;
  text-align:center;
  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#pusheen:hover{
  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.steam{
  position:absolute;
  bottom:50%;
  left:50%;
  margin-left:auto;
  margin-right:auto;
  width:100px;
  height:100px;
  background:url('imagescss/cookies.png') no-repeat;
  z-index:10;
}

.steam:hover{
  cursor: pointer;
  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.centered{
  display:block;
  margin:0 auto;
  width:100%;
  text-align:center;
  z-index:1;
  user-select: none;
}
.centered:hover{
  cursor:default;
}

h1{
  position:relative;
  color:#ffa7b0;
  font-size:3em;
  text-align:center;
  text-shadow:2px 2px 0 #948f8f;
  white-space:nowrap;
  z-index:1;
  font-weight:500;
}

h2{
  color:#ffa7b0;
  font-size:1.4em;
  font-weight:normal;
  padding:25px 0;
}

p{
  color:#948f8f;
}

.compteur{
  padding-top:1em;
  font-size:2em;
}
#blocantiscroll{
  height:100%;
  overflow:hidden;
}

@media screen and (max-width: 480px){
  #pusheen{
    display: block;
    margin-top:0;
    margin-left:10%;
    margin-right:auto;
    width: 100%;
    text-align:center;
  }
  #blocantiscroll{
    height:100%;
    overflow:hidden;
  }

  body{
    font-size: 40%;
  }

  h1{
    text-shadow: none;
    font-size: 3em;
  }
  h2{
    font-size: 2.5em;
  }

  p{
    font-size:2.5em;
  }
  .compteur{
    font-size:4em;
  }
  .centered{
    width:100%;
  }
}

